/* 
A CSS framework collected by Matthijs Kamstra aka [mck] (http: //wwww.matthijskamstra.nl/blog) 
for a Sandbox design (http: //www.plaintxt.org/themes/sandbox/)

Note: I'm NOT a CSS developer/designer, so no original creation (CSS) of mine is used.
Where possible, I've mention the name and website of it's original creator

nav_horizontal.css from the default style in Sandbox made by Andy Skelton (http: //andy.wordpress.com) and Scott Allan Wallick (http: //www.plaintxt.org/)
*/

/* FORM */
form#commentform .form-label { margin: 1em 0 0; }
form#commentform span.req-field { background: #fff; color: red; }
form#commentform,form#commentform p { padding: 0; }
input#author,input#email,input#url { width: 50%; }
input#author,input#email,input#url,textarea#comment { padding: 0.2em; }
div.comments ol li { margin: 0 0 3.5em; }
textarea#comment { height: 13em; margin: 0 0 0.5em; overflow: auto; width: 66%; }
/* END FORM */

/* ff geleent */


div#respond { border-top: solid 1px #aaa; font-size: 10pt; clear: left; }
div#respond h3 { border-bottom: solid 1px #5e6a6a; padding: 0 0 20px 0; margin: 20px 0 0 0; }
div#respond p#comment-notes { display: none; }
div#respond p#login { margin: 10px 0 0 10px; }
div#respond div.form-label { float: left; clear: left; width: 80px; padding: 10px 0 0 10px; }
div#respond div.form-input, div#respond div.form-textarea { padding: 10px 0; border-bottom: solid 1px #5e6a6a; }
div#respond div.form-textarea textarea { width: 350px; }
div#respond div.form-submit { clear: left; padding: 10px 5px 10px 0; text-align: right; }
