/* SIDEBAR */
div.sidebar div,div.sidebar h3,div.sidebar ul,div.sidebar li{ margin: 0; padding: 0; }
div.sidebar h3{ font-size: 1.2em; }
div.sidebar input#s{ width: 7em; }
div.sidebar li{ list-style: none; margin: 0 0 1em; }
div.sidebar li form{ margin: 0.2em 0 0; padding: 0; }
div.sidebar ul ul{ margin: 0 0 0 1em; }
div.sidebar ul ul li{ list-style: disc; margin: 0; }
div.sidebar ul ul ul{ margin: 0 0 0 0.5em; }
div.sidebar ul ul ul li{ list-style: circle; }
div.sidebar{ background-color: White; }
/* END SIDEBAR */

/* CALENDAR */
#wp-calendar { empty-cells: show;/* font-size: 120%; */margin: 0; width: 180px; }
#wp-calendar #next a { padding-right: 10px;text-align: right;}
#wp-calendar #prev a { padding-left: 10px;text-align: left;}
#wp-calendar a { display: block;  text-decoration: none; }
#wp-calendar a:hover {  background: #EFEFEF;color: #333;text-decoration:none; background-image: url(images/bg_postmetadata.gif);background-repeat: repeat;}
#wp-calendar caption { 	text-align: center ; text-transform: uppercase;  margin:-5px 10px 0 10px;  padding-bottom:5px;  border-bottom:1px solid #F3F4F4; letter-spacing:0.1em;}
#wp-calendar td {color: #ccc;    letter-spacing: normal;padding: 2px 0;text-align: center;}
#wp-calendar thead tr th{ border-bottom:1px solid #F3F4F4; }
#wp-calendar th {   font-style: normal;    text-transform: capitalize;text-align: center;}
#wp-calendar #today{ color:#414141;background-color: #ccc;}
/* END CALENDAR */

/* SIDEBAR TITLES */
.xoxo h3 { padding-top: 1em!important; padding-bottom: 1em!important; }
/* END SIDEBAR TITLES */

/* SEARCH */
#search #s { width: 140px; height: 20px; margin: 0; padding: 0; border: 1px solid silver; font-size: 1.1em; vertical-align: middle !important; }
#search #searchsubmit { height: 22px; width: auto; padding: 0; margin: 0; border: 0px solid #AF2069; font-size: 9px; letter-spacing: 1px; text-align: center; vertical-align: middle; color: white; background-color: #ff3399; }
/* END SEARCH */

/* PULLDOWN (SELECT) */
select { width: 180px; height: 20px; border: 1px solid silver; font-size: 1.1em; text-align: left; vertical-align: middle;}
select option { border-top: 1px dashed #EEEEEE; padding: 3px 3px 3px 6px;}
/* END PULLDOWN (SELECT) */


#recent-posts ul li { list-style-type: none; margin-left: -14px; padding: 0; }
/*.widget_links ul li, .widget_links ul li{ list-style-type: none; list-style-image: url(images/arrow_pink.gif); margin-left: 10px; }*/
#recent-posts ul li a , /*.widget_links ul li a ,.widget_links ul li a,*/ #rss-links ul li a { display: block; padding: 2px; }




.widget_links ul li  {
	margin-left: 10px !important;
	list-style: url(images/arrow_pink.gif) outside none !important;
}
.widget_links ul li a { display: block; padding: 2px;text-decoration: none;}
.widget_links ul li a:hover {text-decoration: underline;background-color: transparent;color:#FF3399;font-weight: bold;   }

/*  */
.widget_links a, .widget_sandbox_rsslinks a , .widget_sandbox_meta a{ display: block; padding: 2px;text-decoration: none;}
.widget_links a:hover, .widget_sandbox_rsslinks a:hover , .widget_sandbox_meta a:hover{text-decoration: underline;background-color: transparent;color:#FF3399;font-weight: bold; }
/*.widget_links ul li  {
	background: transparent url(images/arrow_pink.gif) no-repeat left center;	
	list-style-type:none !important;
	margin-left:-10px !important;
	padding-left:15px;
	
}
.widget_links ul li  a { display: block; padding: 2px;}
*/


/* RSS */
#rss-links ul li { list-style-position: outside; list-style-type: none; }
#rss-links ul li a { background: url(images/icons/feed-icon-12x12.gif) no-repeat left center; margin-left: -10px; padding-left: 15px; vertical-align: middle;}
/*#rss-links ul li a:hover { color: #ff3399; text-decoration: none; }*/
/* END RSS */

/* CREATIVE COMMENS */
.creativecommons a:visited, .creativecommons a:hover { color: #333;  background-color: transparent; color: white; text-decoration: none;}

/* END CREATIVE COMMENS */

/* META */
#meta ul li { list-style-position: outside; list-style-type: none; }
#meta ul li a { background: url(images/icons/lock.png) no-repeat left center; margin-left: -10px; padding-left: 20px; vertical-align: middle;}
#meta ul li a:hover { background: url(images/icons/lock_open.png) no-repeat left center;  }
/* META */


/* END SIDEBAR */
