/*
A CSS framework collected by Matthijs Kamstra aka [mck] (http://wwww.matthijskamstra.nl/blog)
for a Sandbox design (http://www.plaintxt.org/themes/sandbox/)

Note: I'm NOT a CSS developer/designer, so no original creation (CSS) of mine is used.
Where possible, I've mention the name and website of it's original creator

*/

/* HEADER */
div #header{text-align:center; background-image: url(images/mck_vectorhome_v10a.gif);  background-position: top center;  background-repeat: no-repeat;  height:350px; /*border:1px dotted black;*/}
div #header #blog-title { padding: 0px; display:block; width:50%; height:100%; }
div #header #blog-title a { text-indent: -999em;	display: block;	width: 100%;	height: 100%;}
div #header #blog-title a:hover{	background-color: transparent;	background-image: url(images/rollover_header_pointer.gif);}
div #header #blog-description {text-indent: -999em; }

/* SKIP CONTENT */
/* it's visual linked to the nav_horizontal but in html linked to the header */
.skip-link { padding: 3px 20px 3px 20px; position: absolute; z-index: 1; text-align: center; display: block; white-space: nowrap; top: 0; right: 0.2em; background: url(images/skip_tabje.gif) no-repeat bottom;}
.skip-link a, .skip-link a:hover  { text-decoration: none; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 8px; /*text-indent: -999px;*/ color: White; font-stretch: condensed; padding:0; }
.skip-link a:hover { color: #5C5C5C;/* overwrite typo.css  */ background-color: transparent; }
.skip-link a, .skip-link a:link, .skip-link a:active, .skip-link a:visited, .skip-link a:hover { background-color: transparent; }
/* END SKIP CONTENT */
/* END HEADER */
