/*
LAYOUT: One-Colom no sidebar
DESCRIPTION: One-Colom no sidebar
*/

div#wrapper { width: 780px; margin: auto; /*border: 1px solid pink;*/ }

div#container { width: 100%;}
div#content { width: 100%; }
div#footer { clear: left; width: 100%; }

div#navigation {	/*border:1px solid green;*/}

/* todo: test data
div#container { background-color: red;}
div#content { background-color: Blue; }
div#footer { background-color: Orange; }
*/
