/*
A CSS framework collected by Matthijs Kamstra aka [mck] (http://wwww.matthijskamstra.nl/blog)
for a Sandbox design (http://www.plaintxt.org/themes/sandbox/)

Note: I'm NOT a CSS developer/designer, so no original creation (CSS) of mine is used.
Where possible, I've mention the name and website of it's original creator

nav_horizontal.css from the default style in Sandbox made by Andy Skelton (http://andy.wordpress.com) and  Scott Allan Wallick (http://www.plaintxt.org/)
*/

/* OVERWRITE DEFAULT SETTINGS TYPO.CSS */
/* ul and ol tags */
#menu ul, #menu ul li ,#menu ol ,#menu ol li {	line-height: 1em;	font-size: 1em;	margin: 0;	padding: 0;}
/* all a tags : example: a:hover  */
#menu a,	#menu a:link , #menu a:active , #menu a:visited , #menu a:hover { background-color: transparent;  }
/* END OVERWRITE DEFAULT SETTINGS TYPO.CSS */

/* NAVIGATION / MENU */
/* SON OF SUCKERFISH CSS */
/* dont forget to rename ... to menu */
/* all lists */
/*#menu {	z-index: 10001;}*/
#menu, #menu ul { padding: 0;margin: 0;list-style: none;line-height: 1;}
#menu a {display: block;/*width: 10em;*/}
/* all list items */
#menu li { 	float: left;/*width: 10em;*/ /* width needed or else Opera goes nuts */}
/* second-level lists */
#menu li ul { position: absolute; /*background: orange; width: 10em*/;left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */}
/* lists nested under hovered list items */
#menu li:hover ul, #menu li.sfhover ul { left: auto;}
#menu li:hover, #menu li.hover { position: static;}
/* END SON OF SUCKERFISH CSS */
/* CUSTOM MCK SUCKERFISH CSS */
#menu { font-family: "Trebuchet MS" Verdana Geneva Arial Helvetica sans-serif; font-size: .8em; background: url(images/menu_bg_up.gif) repeat-x; position: absolute; left:0; top: 0; width: 100%; border-top: 5px solid #999999; }
#menu li { background: url(images/menu_bg_up.gif);  }
#menu ul {width:950px;margin:auto; /*border-top: 0px solid #999999; height: 33px;  border-bottom: 1px solid #848484; padding-left:5%;*/ }
#menu a { padding: 10px; width: auto; white-space: nowrap; color: #666666; text-decoration: none; font-weight: bold; border: 0; border-left: 1px solid #b2b2b2; border-right: 1px solid #cccccc; }
#menu li ul, #menu li ul a{ width: 10em; margin: 0; padding: 0; border: 0; background: white; }
#menu li ul a { padding: 5px; border-left: 1px solid #848484; border-right: 1px solid #848484; border-bottom: 1px solid #848484; }
#menu ul li ul{ /* border pulldown */ margin-top: -1px; border-top: 1px solid #848484; }
#menu li:hover, #menu li.sfhover, #menu a:hover , #menu a:active { color: white !important; background: white; background-image: url(images/menu_bg_over.gif); }
/* END CUSTOM MCK SUCKERFISH CSS */
/* END NAVIGATION / MENU */
